html,
body {
  background-color: #222222;
}

em,
del,
strong {
  color: #f92672;
}

.githubIcon a {
  color: #808080 !important;
}

.slide h1 {
  color: #c8cecc;
}

.slide h2 {
  color: #c8cecc;
}

.slide .content {
  color: #808080;
}

.slide blockquote {
  color: #808080;
  background-color: #ccc;
}

.slide li code,
.slide h1 code,
.slide h2 code,
.slide h3 code,
.slide h4 code,
.slide h5 code,
.slide h6 code,
.slide p code {
  color: #c7254e;
  background-color: #333333;
}

.slide h1 strong,
.slide h2 strong,
.slide h3 strong {
  color: #f92672;
}

tr:nth-child(even) {
  background-color: #33363B;
}

[data-layout="title-subtitle"] h2 {
  color: #555555;
}

.slide .navigation-instructions {
  color: #808080;
}
