html,
body {
  background-color: #F6F5F6;
}

em,
del,
strong {
  color: #f92672;
}

.githubIcon a {
  color: #666666;
}

.slide h1 {
  color: #4A4A4A;
}

.slide h2 {
  color: #4A4A4A;
}

.slide .content {
  color: #555555;
}

/*.slide pre {
  color: #F8F8F2;
  background-color: #23241F;
}*/

.slide blockquote {
  color: #4A4A4A;
  background-color: #eee;
}

.slide li code,
.slide h1 code,
.slide h2 code,
.slide h3 code,
.slide h4 code,
.slide h5 code,
.slide h6 code,
.slide p code {
  color: #c7254e;
  background-color: #f9f2f4;
}

.slide h1 strong,
.slide h2 strong,
.slide h3 strong {
  color: #f92672;
}

tr:nth-child(even) {
  background-color: #ddd;
}

thead > tr > th,
thead > tr > td  {
  background-color: #4A4A4A;
  color: #F6F5F6;
}

[data-layout="title-subtitle"] h2 {
  color: #555555;
}

.slide .navigation-instructions {
  color: #808080;
}
