.slide h1,
.slide h2,
.slide h3 {
    color: #26272B;
}

.slide .content {
    color: #555555;
}

.slide blockquote {
    background-color: #eee;
}

.slide pre {
    background-color: #eee;
}

.slide li code,
.slide h1 code,
.slide h2 code,
.slide h3 code,
.slide h4 code,
.slide h5 code,
.slide h6 code,
.slide p code {
    color: #c7254e;
    background-color: #f9f2f4;
}

.slide h1 strong,
.slide h2 strong,
.slide h3 strong {
    color: #f92672;
}

[data-layout="title-subtitle"] h2 {
    color: #555555;
}

.slide .navigation-instructions {
    color: #808080;
}
